{% extends "layout.html" %}
{% block main %}
  <h2>{{category.name}}</h2>
  <div class="flash">
      {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  <div>
    {% for i in items %}
    <a href="{{url_for('showItem',item=i.id,category=category.id)}}">{{i.name}}</a><br>
    {% endfor %}
    <br><br>
    {% if 'username' in login_session: %}
    <div id="createButton">
      <a href="{{url_for('newItem',category=category.id)}}">
        Create New Item</a><br>
    </div>
    {% endif %}
  </div>
{% endblock %}
